{{ define "main" }}
  <div class="container mt-5 pt-5">
    <!-- <h1>{{ .Title }}</h1> -->
    <div class="row">
      {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    </div>
    {{ .Content }}
    {{ range .Pages }}
    <div class="row mb-3">
      <time datetime="{{ .PublishDate }}">{{ .PublishDate | time.Format ":date_medium" }}</time>
      <h2 class="h4"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      <!-- {{ .Summary }} -->
    </div>
    {{ end }}
  </div>
{{ end }}
