@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');

body, html, main {
  height: 100%;
  font-family: 'Red Hat Mono', monospace !important;
  font-size: .92em;
}

.splash-screen {
  height: 100%;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .container {
    max-width: 720px !important;
  }
}