@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');

:root {
  --bg-color: #1E201E;
  --bg-variant: #060606;
  --primary: #697565;
  --primary-variant: #5f695b;
  --secondary: #ECDFCC;
  --secondary-variant: #d4c9b8;
}

body, html, main {
  height: 100%;
  font-family: 'Red Hat Mono', monospace !important;
  font-size: .95em;
}

.body-dark {
  background-color: var(--bg-color) !important;
}

::selection {
  background: var(--primary);
}

.splash-screen {
  height: 100%;
}

nav a, a {
  text-decoration: none !important;
}

nav a:hover, a:hover {
  text-decoration: underline !important;
}

a {
  font-weight: bold;
  color: var(--secondary-variant) !important;
}

a:hover {
  color: var(--secondary) !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 720px !important;
  }
}

code {
  user-select: all;
}

kbd {
  background-color: var(--bg-variant) !important;
  font-family: 'Red Hat Mono', monospace !important;
  font-weight: bold;
}

.post article h1,
.post article h2,
.post article h3,
.post article h4,
.post article h5,
.post article h6 {
  margin: 24px 0 4px 0;
  font-weight: bold;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: #6c757d !important;
}

.tags a:hover {
  background-color: var(--primary) !important;
  color: #fff !important;
  text-decoration: none !important;
}

.underline {
	background-image: linear-gradient(to right, var(--secondary), var(--secondary));
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: 100% 2px;
	text-decoration: none !important;
}

blockquote {
  margin-left: 15px !important;
  padding-left: 15px !important;
  border-left: var(--primary-variant);
  border-left-style: solid;
  border-left-width: 3px;
}

cite {
  display: block;
  margin-top: 8px;
}

cite:before {
  content: "\2014";
  margin-right: 8px;
}