@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');

body, html, main {
  height: 100%;
  font-family: 'Red Hat Mono', monospace !important;
  font-size: .92em;
}

::selection {
  background: #257FAD;
}

.splash-screen {
  height: 100%;
}

nav a, a {
  text-decoration: none !important;
}

nav a:hover, a:hover {
  text-decoration: underline !important;
}

a {
  font-weight: bold;
  color: #FF5D73 !important;
}

a:hover {
  color: #FF1A39 !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 720px !important;
  }
}

code {
  user-select: all;
}

.post article h1,
.post article h2,
.post article h3,
.post article h4,
.post article h5,
.post article h6 {
  margin: 24px 0 4px 0;
  font-weight: bold;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: #6c757d !important;
}

.tags a:hover {
  background-color: #FF1A39 !important;
  color: #fff !important;
  text-decoration: none !important;
}

.underline {
	background-image: linear-gradient(to right, #257FAD, #257FAD);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: 100% 2px;
	text-decoration: none !important;
}