{{ define "main" }}
{{ $title := print .Site.Title " | " .Title}}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <div class="row h-100">
        <div class="col-md-8 my-auto">
            <!-- nav -->
            <h1 class="display-1 text-uppercase lh-sm">{{ $title }}</h1>
            {{ if isset .Params "lead" }}
            <p class="lead pb-2">
                <span class="underline">{{ .Params.lead }}</span>
            </p>
            {{ end }}
            <p class="lh-lg">
                {{ .Params.description }}
            </p>
        </div>
    </div>
{{ end }}